:root {
  --white-color: #ffffff;
  --main-bg-color: #43455c;
  --container-bg-color: #2e3047;
  --accent-color: #3bba9c;
  /* skill colors */
  /* js */
  --js-minion-yellow: #F0DB4F;
  --js-dark-charcoal: #323330;
  /* html */
  --html-black: #000000;
  --html-flame: #E34C26;
  --html-carrot-orange: #F06529;
  --html-bright-gray: #EBEBEB;
  --html-white: #ffffff;
}
